#7SEGMENT LED
NET "O_EXTEND_7SEG_LED_SELECT" LOC = K14;

NET "O_EXTEND_7SEG_LED<0>" LOC = J17;
NET "O_EXTEND_7SEG_LED<1>" LOC = J13;
NET "O_EXTEND_7SEG_LED<2>" LOC = J12;
NET "O_EXTEND_7SEG_LED<3>" LOC = G13;
NET "O_EXTEND_7SEG_LED<4>" LOC = D14;
NET "O_EXTEND_7SEG_LED<5>" LOC = E9;
NET "O_EXTEND_7SEG_LED<6>" LOC = E8;
NET "O_EXTEND_7SEG_LED<7>" LOC = E6;
