#EXTEND BOAED LED
NET "O_EXTEND_LED_RYB(2)" LOC = M13;
NET "O_EXTEND_LED_RYB(1)" LOC = K12;
NET "O_EXTEND_LED_RYB(0)" LOC = K13;

#EXTEND BOAED SWITCH
NET "I_EXTEND_SWITCH_RYB(2)" LOC = D3;
NET "I_EXTEND_SWITCH_RYB(1)" LOC = F4;
NET "I_EXTEND_SWITCH_RYB(0)" LOC = F5;